* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0);
  /* background: linear-gradient(
    45deg,
    #e0827f,
    #59c173,
    #5d26c1,
    #c13d26,
    #3f04e0,
    #d0e60d
  ); */

  /* background-size: 300% 300%; */
  /* animation: lola 7s ease-in-out infinite; */
  min-height: 100%;
  color: #fff;
  transform: translate3d(0, 0, 0);
}

/* @keyframes lola {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
} */
button {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  animation: aha 5s linear 2s infinite alternate;
}
@keyframes aha {
  0% {
    color: #fff;
  }
  50% {
    color: rgb(168, 5, 5);
  }
  100% {
    color: #fff;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
